<!DOCTYPE html>

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	<meta charset="utf-8" />

	$theme.include($top_head_include)
	
	<link rel="shortcut icon" type="image/png" href="$images_folder/custom/favicon.png"/>
	
	#css("$css_folder/$theme_style")
	<script type="text/javascript" src="$javascript_folder/bootstrap.min.js" ></script>
</head>

<body class="$css_class opencps-theme ux">

	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end
	 <div class="img-1"></div>
    <div class="img-2"></div>
    <div class="img-3"></div>
    <div class="img-4"></div>
    <div class="img-5"></div>
    <div class="img-6"></div>
		<header id="banner" role="banner" class="mHeader_1">
	        <a href="" class="logo"></a>
			
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation_private_page.vm")
			#end
			
			<div>
				#if(!$is_signed_in)
					<a href="$sign_in_url" class="btn-dn">#language ("login-key")</a>
		        	<a href="$register_url" class="btn-dk">#language ("register-key")</a>
		        #else
		        	<ul>
						<li>
							<a style='font-family: "Roboto-Bold"; top: 6px; position: relative; color: rgb(255, 255, 255);' href="/group/guest">#language("back-to-backoffice")</a>
						</li>
					</ul>
				#end
	        </div>
		</header>		
		
	
	<article id="wrapper" class="container">	
		<div id="content">
			#*<nav id="breadcrumbs">#breadcrumbs()</nav>*#
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</article>
	
	<footer>
		<div class="danhmuc">
                <p class="title">#language ("danhmuc-key")</p>
                #parse ("$full_templates_path/navigation_footer_public_page.vm")

            </div>
            <div class="huongdan">
                <p class="title">#language ("conduct-key")</p>
                <ul>
                    <li><a href="/-ang-ky-tai-khoan">#language ("account-register-key")</a></li>
                    <li><a href="/-ang-nhap-he-thong">#language ("system-login-key")</a></li>
                    <li><a href="/nop-ho-so-truc-tuyen">#language ("nop-hstt-key")</a></li>
                    <li><a href="/home">#language ("tracuu-ketqua-key")</a></li>
                    <li><a href="/can-bo-xu-ly-ho-so">#language ("cbxl-nophs-key")</a></li>
                </ul>
            </div>
        <div class="lienhehotro">
             <p class="title">#language ("lienhehotro-key")</p>
            <p class="diachi"></p>
            <p class="mail"></p>
            <p class="phone"></p>
        </div>
        <div style="color: rgb(0, 116, 205); position: relative; padding-top: 165px; margin-right: 15px;">Copyright © 2016 - Bộ Giao thông Vận tải</div>
	</footer>


	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>